<h3> Deal the Cards!</h3>
<p>
	<% cardnumber = [2, 3, 4, 5, 6, 7, 8, 9, 10, "jack", "queen", "king", "ace"] %>
	<% cardsuit = ["diamonds", "spades", "clubs", "hearts"] %>
	<img src = "http://golearntocode.com/images/cards/<%=cardnumber.sample%>_of_<%=cardsuit.sample%>.png">
	<img src = "http://golearntocode.com/images/cards/<%=cardnumber.sample%>_of_<%=cardsuit.sample%>.png">
	<img src = "http://golearntocode.com/images/cards/<%=cardnumber.sample%>_of_<%=cardsuit.sample%>.png">
	<img src = "http://golearntocode.com/images/cards/<%=cardnumber.sample%>_of_<%=cardsuit.sample%>.png">
	<img src = "http://golearntocode.com/images/cards/<%=cardnumber.sample%>_of_<%=cardsuit.sample%>.png">
</p>
